{% extends './base.html' %}
{% block titulo %}
<title>YaviSport</title>
{% endblock %}
{% block contenido %}

<link rel="stylesheet" href="/static/css/stile.css">  

<header>
    {% include 'includes/barranavegacion.html' %}
</header>

  <h2>Programación de Partidos</h2>
  <table>
    <tr>
      <th>Equipo local</th>
      <th>Equipo visitante</th>
      <th>Fecha</th>
      <th>Estadio</th>
    </tr>
    <tr>
      <td>Equipo A</td>
      <td>Equipo B</td>
      <td>01/07/2023</td>
      <td>Estadio X</td>
    </tr>
    <tr>
      <td>Equipo C</td>
      <td>Equipo D</td>
      <td>02/07/2023</td>
      <td>Estadio Y</td>
    </tr>
    <tr>
      <td>Equipo E</td>
      <td>Equipo F</td>
      <td>03/07/2023</td>
      <td>Estadio Z</td>
    </tr>
    <!-- Agrega más filas según sea necesario -->
  </table>


    
 
    <h2>Tabla de Posiciones</h2>
    <table>
      <tr>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>Partidos Jugados</th>
        <th>Goles Diferencia</th>
      </tr>
      <tr>
        <td>Equipo A</td>
        <td>15</td>
        <td>7</td>
        <td>+8</td>
      </tr>
      <tr>
        <td>Equipo B</td>
        <td>12</td>
        <td>7</td>
        <td>+4</td>
      </tr>
      <tr>
        <td>Equipo C</td>
        <td>10</td>
        <td>6</td>
        <td>+2</td>
      </tr>
      <tr>
        <td>Equipo D</td>
        <td>9</td>
        <td>7</td>
        <td>-1</td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </table>

  <h2>Partidos Jugados</h2>
  <table>
    <tr>
      <th>Equipo Local</th>
      <th>Equipo Visitante</th>
      <th>Ganador</th>
    </tr>
    <tr>
      <td>Equipo A</td>
      <td>Equipo B</td>
      <td>Equipo A</td>
    </tr>
    <tr>
      <td>Equipo C</td>
      <td>Equipo D</td>
      <td>Equipo D</td>
    </tr>
    <tr>
      <td>Equipo E</td>
      <td>Equipo F</td>
      <td>Equipo F</td>
    </tr>
    <!-- Agrega más filas según sea necesario -->
  </table>

       
{% endblock %}