<!DOCTYPE html>
<html>
<head>
  <title>Inscripcion Equipos</title>
  <link rel="stylesheet" type="text/css" href="/static/css/stile.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand">
        <div class="container">
          <a class="navbar-brand" href="login"><img src="{{url_for('static',filename='img/logo-yavi.png')}}" alt="Logo del torneo"></a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('admin') }}">
                ATRAS
              </a>
            </li>
          </ul>
        </div>
      </nav>
</header>
  <center><h3>Programacion partidos</h3></center>
  <div class="form-container4" id="form-container4">
    <form id="userForm" action="{{ url_for('partidospro') }}" method="post">
      {% if dato %}
      <input type="hidden" name="idp" value="{{ dato['idp'] }}">
      {% endif %}
      <label for="equipo1pro">Equipo 1</label>
      <input
        id="equipo1pro"
        name="equipo1pro"
        type="text"
        placeholder=""
        class="form-control mb-2"
        value="{{ dato['equipo1pro'] if dato else '' }}"
        required
      />
  
      <label for="equipo2pro">Equipo 2</label>
      <input
        id="equipo2pro"
        name="equipo2pro"
        type="text"
        placeholder=""
        class="form-control mb-2"
        value="{{ dato['equipo2pro'] if dato else '' }}"
        required
      />
  
      <label for="fechapro">Fecha</label>
      <input
        id="fechapro"
        name="fechapro"
        type="date"
        placeholder=""
        class="form-control mb-2"
        value="{{ dato['fechapro'] if dato else '' }}"
        required
      />

      <label for="estadiopro">Estadio</label>
      <input
        id="estadiopro"
        name="estadiopro"
        type="text"
        placeholder=""
        class="form-control mb-2"
        value="{{ dato['estadiopro'] if dato else '' }}"
        required
      />
      <br>
      <input type="submit" value="Guardar">
    </form>
  </div>
  
  <!-- Tabla de partidos jugados -->
  <div class="tabla">
    <table>
      <tr>
        <th>Equipo 1</th>
        <th>Equipo 2</th>
        <th>Fecha</th>
        <th>Estadio</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      {% for fila in datos %}
      <tr>
        <td>{{ fila[1] }}</td>
        <td>{{ fila[2] }}</td>
        <td>{{ fila[3] }}</td>
        <td>{{ fila[4] }}</td>
        <td><a href="{{ url_for('editarpar', idp=fila['idp']) }}"><img src="/static/img/editar.png" alt="Logo Basurero" width="25" height="25"></a></td>
        <td>
          <form class="eliminar" action="{{ url_for('borrarpar', idp=fila['idp']) }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este registro?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="image" src="/static/img/eliminar.png" alt="Eliminar" width="25" height="25">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
